

<div class='demo-app' style="background-color: white ; margin-top: 50px; ">
    <div class='demo-app-main'>
      <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
        <ng-template #eventContent let-arg>
          <!-- <b>{{ arg.timeText }}</b> -->
          <!-- <i>{{ arg.event.title }}</i> -->
          <i>{{ arg.event.title }} - {{ arg.event.extendedProps.nom }}{{ arg.event.extendedProps.prenom }}</i>

        </ng-template>
       
        
      </full-calendar>
    </div>
  
</div>